.tab-content > .tab-pane { padding: 20px; height: 200px; overflow-y: scroll; }
dl.dl-horizontal dt { text-align: left; width: auto; }
dl.dl-horizontal dd { text-align: left; padding-left: 60px; margin-left: 0; }
